/* main a {
        color: #38b9ec;
    } */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mainarea {
    position: absolute;
    width: 81.25%;
    height: 100%;
    /* text-align: left; */
    margin-left: 352px;
    background-color: #282a2e;
    top: 0%;
    color: rgb(255, 255, 255);
    z-index: 2;
    overflow: fixed;
}

.top-nav {
    align-items: left;
    text-align: left;
    margin-left: 20px;
    margin-top: 60px;
    background-color: aqua;
}

.vl {
    border-left: 2px solid gray;
    height: 25px;
    position: absolute;
    left: 11%;
    top: 1.7%;
}

.channel-name {
    top: 0%;
    left: 1%;
    position: absolute;
}

.channel-info {
    position: absolute;
    top: 0.5%;
    left: 14%;
}

/* .open-btn {
        display: none;
    } */

.chat-body {
    position: absolute;
    width: 100%;
    height: 93%;
    background-color: #36393f;
    top: 6.2%;
    color: rgb(255, 255, 255);
    z-index: 1;
    overflow: scroll;
}

.chat-body-messages {
    position: absolute;
    color: rgb(255, 255, 255);
    z-index: 1;
    top: 2%;
}

.chat-body-messages-item-content {
    color: rgb(255, 255, 255);
    z-index: 1;
    /* text-align: left;
        margin-left: 80px; */
}

.chat-body-messages-item-content-header {
    color: rgb(255, 255, 255);
    z-index: 1;
    /* text-align: left; */
    margin-left: 80px;
}

.chat-body-messages-item-content-body {
    color: rgb(255, 255, 255);
    z-index: 1;
    text-align: left;
    margin-left: 80px;
    margin-right: 50px;
}

.blog-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #2c2c2c;
}

.blog-box h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffffff;
}

.blog-box p {
    margin-top: 20px;
    padding: 0;
    font-size: 14px;
    color: #ffffff;
}

.blog-box a {
    color: rgb(82, 125, 241);
}

@media screen and (max-width: 1910px) {
    .mainarea {
        position: absolute;
        width: 91.3%;
        height: 100%;
        /* text-align: left; */
        margin-left: 315px;
        top: 0%;
        color: rgb(255, 255, 255);
        z-index: 2;
        overflow: scroll;
    }
}

@media screen and (max-width: 1500px) {
    .mainarea {
        position: absolute;
        width: 100%;
        height: 100%;
        /* text-align: left; */
        margin-left: 55px;
        top: 0%;
        color: rgb(255, 255, 255);
        z-index: 0;
        overflow: scroll;

        font-size: small;
    }

    .top-nav {
        align-items: left;
        text-align: left;
        margin-left: 0px;
        margin-top: 60px;
        background-color: aqua;
    }

    .vl {
        border-left: 2px solid gray;
        height: 25px;
        position: absolute;
        left: 35%;
        top: 1.7%;
    }

    .channel-name {
        top: 0%;
        left: 5%;
        position: absolute;
    }

    .channel-info {
        position: absolute;
        top: 0.5%;
        left: 44%;
    }

    /* .open-btn {
            position: absolute;
            top: 1.7%;
            left: 80%;
            font-size: 20px;
            cursor: pointer;
            color: orangered;
            display: block;
        } */

    /* .msg-img {
            width: 100%;
            height: auto;
            max-width: 150px;
        } */

    .chat-body-messages-item-content-body {
        color: rgb(255, 255, 255);
        z-index: 1;
        text-align: left;
        margin-left: 80px;
        margin-right: 70px;
    }

    .blog-box {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        background-color: #2c2c2c;
    }

    .blog-box h3 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: #ffffff;
    }

    .blog-box p {
        margin-top: 20px;
        padding: 0;
        font-size: 14px;
        color: #ffffff;
    }

    .blog-box a {
        color: rgb(82, 125, 241);
    }
}